<div id="about">
  <h3>What is TMWSD?</h3>
  <p>TMWSD is a secure, auto-deleted messaging service. This means two things:</p>
  <ol>
    <li>We encrypt your message before we store it.</li>
    <li>The first time the message is retrieved we delete the encrypted content.</li>
  </ol>
  <p>We didn't stop there, however. We added the ability to restrict access by password. You don't need to worry about your password either, because in this case we never actually store it. Instead we hash it using a heavy-duty hashing utility (bcrypt). As an added bonus, if you provide a password we salt the encryption key with it for even more security. This means that without the password no one can decrypt your secret message, not even us.</p>
  <p>One more thing. Obviously, thismessagewillselfdestruct.com is a long domain name. So, you can use either <%= link_to "tmwsd.ws", "https://tmwsd.ws" %> or <%= link_to "⌫.ws", "https://⌫.ws" %> too.</p>

  <h3>Some Stats</h3>
  <div id="messages-stats">
    <p>Messages Sent: <%= number_with_delimiter MessageUrl.count %>.</p>
    <p>Messages Received: <%= number_with_delimiter MessageUrl.where(:deleted => true).count %>.</p>
    <p>User Accounts: <%= number_with_delimiter User.count %></p>
  </div>
</div>
